<!DOCTYPE html>
<html>
<head>
  <title>Edit Car</title>
</head>
<body>
  <h1>Edit Car</h1>
  <form action="/cars/<%= car._id %>?_method=PUT" method="POST">
    <label for="make">Make:</label>
    <input type="text" id="make" name="make" value="<%= car.make %>" required>
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" value="<%= car.model %>" required>
    <label for="year">Year:</label>
    <input type="number" id="year" name="year" value="<%= car.year %>" required>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%= car.price %>">
    <button type="submit">Update Car</button>
  </form>
  <a href="/cars">Back to Cars</a>
</body>
</html>
